<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="../">Home</a>
    <a href="../games">Video Games</a>
    <a href="../sports">Sports</a>
    <a href="../food">Food And Drink</a>
    <a href="../body">Human Body</a>
</div>
