<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>

    <form id="new-form" action="/bodys" method="POST" >
        <label>Human Body:</label>
        <select name="body">
            <option value="Longest">Longest</option>
            <option value="Shortest">Shortest</option>
            <option value="Tallest">Tallest</option>
            <option value="Heaviest">Heaviest</option>
            <option value="Oldest">Oldest</option>
            <option value="Youngest">Youngest</option>
            <option value="Most....">Most....</option>
          </select>
        <label>Title:</label>
        <input type="text" name="title">
        <label>Description:</label>
        <textarea name="content"></textarea>
        <label>Proof:</label>
        <input type="url" name="proof">
        <input type="submit" value="Add Brag">
      </form>
      <a class="newback" href="/bodys">Back</a>
  </body>
</html>